<h1>Created</h1>

<ul>
  <% current_user.created_conversations.each do |conversation| %>
    <li><%= link_to conversation, edit_dashboard_path(conversation) %></li>
  <% end %>
</ul>

<h1>Participated</h1>

<ul>
  <% current_user.participated_conversations.each do |conversation| %>
    <li><%= link_to conversation, edit_dashboard_path(conversation) %></li>
  <% end %>
</ul>
