<h1>Dashboard</h1>


<h2>Created</h2>

<ul>
  <% current_user.conversations_as_creator.each do |conversation| %>
    <li><%= link_to conversation.topic, conversation %></li>
  <% end %>
</ul>


<h2>Participated</h2>

<ul>
  <% current_user.conversations_as_participant.each do |conversation| %>
    <li><%= link_to conversation.topic, conversation %></li>
  <% end %>
</ul>

