<p>
  <strong>Topic:</strong>
  <%= @conversation.topic %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @conversation.creator %>
</p>

<%= link_to 'Edit', edit_conversation_path(@conversation) %> |
<%= link_to 'Back', conversations_path %>
